# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage

# Build output
dist/
build/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Wallets
wallets.json

#system files
.DS_Store
